$body-bg-color                = #f7f8f8;
$body-bg-color-dark           = #010102;
$content-bg-color             = #ffffff;
$content-bg-color-dark        = #0f1011;
$card-bg-color                = #ffffff;
$card-bg-color-dark           = #141516;
$text-color                   = #171717;
$text-color-dark              = #f7f8f8;
$link-color                   = #171717;
$link-color-dark              = #f7f8f8;
$link-hover-color             = #00b48a;
$link-hover-color-dark        = #828fff;
$border-color                 = #e5e5e5;
$brand-color                  = #171717;
$brand-color-dark             = #f7f8f8;
$brand-hover-color            = #00b48a;
$brand-hover-color-dark       = #828fff;
$theme-color                  = #00d4a4;
$theme-color-dark             = #5e6ad2;
$menu-item-bg-color           = #eefcf8;
$menu-item-bg-color-dark      = #18191a;
$selection-bg                 = #00d4a4;
$selection-color              = #010102;
$selection-bg-dark            = #5e6ad2;
$selection-color-dark         = #ffffff;
$btn-default-radius           = 9999px;
$btn-default-bg               = #171717;
$btn-default-bg-dark          = #5e6ad2;
$btn-default-border-color     = #171717;
$btn-default-border-color-dark = #5e6ad2;
$content-desktop              = 760px;
$content-desktop-large        = 860px;
$content-desktop-largest      = 960px;
$border-radius                = 16px;
$border-radius-inner          = 12px;
